/* MEDIA QUERIES */
@media (max-width: 1050px), (max-width: 1007px) {
    .navBar {
        height: 4rem;
        font-size: 0.8rem;
        gap: 0;
    }

    .logoIMG {
        width: 50px;
        height: 50px;
        margin-left: 4rem;
    }

    ul {
        margin-right: 3rem;
    }

    .content {
        width: 85vw;
    }

    .auth-conteiner {
        width: 40vw;
        padding: 1.5rem;
        margin-top: 1.0rem;
    }

    .auth-conteiner label,
    .form-btn-login {
        font-size: 0.9rem;
    }

    .form-btn-login {
        font-size: 0.6rem;
    }
}

@media (max-width: 667px) {
    .navBar {
        height: 3rem;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .navBar ul {
        font-size: 0.6rem;
    }

    .logoIMG {
        display: none;
    }

    .main {
        margin-top: 5.1rem;
    }

    .auth-conteiner {
        width: 56vw;
        margin-top: 1.0rem;
    }
}