@media (max-width: 1050px) {
     .navBar{
        height: 4rem;
        font-size: 0.8rem;
        transition: 0.5s ease;
        gap: 0;
    }
    .logoIMG {
        width: 50px;
        height: 50px;
        margin-left: 4rem;

    }
    ul {
        margin-right: 3rem;
    }
    .content {
        width: 85vw;
    }

    .auth-conteiner {
        padding: 1.5rem;
        width: 40vw;
    }
    .auth-conteiner label {
        font-size: 0.9rem;
    }
    .form-btn-login {
        font-size: 0.6rem;
    }
}


@media(max-width: 1007px) {
    .navBar{
        height: 4rem;
        font-size: 0.8rem;
        transition: 0.5s ease;
        gap: 0;
       
    }
    .logoIMG {
        width: 50px;
        height: 50px;
        margin-left: 4rem;

    }
    ul {
        margin-right: 3rem;
    }
    .content {
        width: 85vw;
    }

    .auth-conteiner {
        padding: 1.5rem;
        width: 40vw;
    }
    .auth-conteiner label {
        font-size: 0.9rem;
    }
    .form-btn-login {
        font-size: 0.6rem;
    }

    
}

@media(max-width: 667px) {
    .navBar {
        height: 3rem;
        gap: 0;
        justify-content: center;
        align-items: center;
    }

    .navBar ul {
        font-size: 0.6rem;
        transition:  0.9s ease-in;
    }

    .logoIMG{
       display: none;
       transition:  0.4s ease-in;

    }
    .main {
        margin-top: 5.1rem;
    }

    .auth-conteiner {
        padding: 1.5rem;
        width: 56vw;
    }
    .auth-conteiner label {
        font-size: 0.9rem;
    }
    .form-btn-login {
        font-size: 0.6rem;
    }

}