:root {
    --color1 : #00ccbe ;
    --color2 : #09a6a3 ;
    --color3 : #7689de ;
    --color4 : #edebc9 ;
    --color5 : #fcf9d8 ;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
    background:  rgba(0, 0, 0, 0.945);
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    background: rgb(77, 228, 77);
    color: rgba(0, 0, 0, 0.945);
    position: fixed;
    display: flex;
    flex-direction: row;
    font-size: 1.1rem;
    align-items: center;
    justify-content: space-around;;
    height: 6.9rem;
    width: 100%;
    gap: 36rem;
    z-index: 2;
    margin-bottom: 1.1rem;
    transition: height 0.5s ease-in;
}

.navbar-reduced {
    height: 4.1rem;
    font-size: 0.9rem;
    transition: height 0.5s ease-in;
}
.navbar-reduced .logoIMG {
     width: 3rem;
    height: 3rem;
    transition:  0.9s ease-in;
}

.logoIMG {
    width: 6rem;
    height: 6rem;
    transition:  0.9s ease-in;
}

.navBar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.6rem;
    transition: height 0.9s ease-in;
}

.navBar ul a {
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
    border-bottom: 1px  solid black;
    padding: 0.6rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.navBar ul a:hover {
    background-color:  rgb(64, 58, 58);
    color: rgb(77, 228, 77);
    border-radius: 5px;
}


.main {
    height: 90%;
    margin-top: 7.9rem;
    height: 82.8vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(77, 228, 77);
}



/*FORMs*/
.auth-conteiner {
    background-color:  rgb(64, 58, 58);
    display: flex;
    flex-direction: column;
    min-width: 30vw;

    padding: 2rem;
    border-radius: 1rem;
    margin-top: 3rem;
}
.auth-conteiner  h2 {
    text-align: center;
    border-bottom: 1px solid rgb(77, 228, 77);
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

.form-control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}
.form-control input {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.5rem;
}

.submit {
    padding: 0.3rem;
    margin-top: 0.9rem;
    font-size: 0.9rem;
    font-weight: lighter;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgb(77, 228, 77);
    color: rgba(0, 0, 0, 0.945);
}

.submit:hover {
    background-color: rgba(0, 0, 0, 0.945);
    color: rgb(77, 228, 77);
    
}

.form-btn-login {
    text-align: right;
    font-weight: lighter;
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

.form-btn-login a {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.945);
    border: 1px solid transparent;
    padding: 0.4rem;
    transition: 0.3s ease-in-out;
}

.form-btn-login a:hover {
    border-bottom: 3px solid  rgb(77, 228, 77);
}



footer {
    background-color:  rgb(77, 228, 77);
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.945);

}
